.container {
	margin: 0 auto;
	width: 348px;
	form {
		padding: 14px 18px;
		border-radius: 4px;
		border: 1px #ddd solid;
		.title {
			font-weight: 400;
			font-size: 28px;
			line-height: 1.2;
			margin-bottom: 14px;
		}
		input {
			display: block;
			width: 100%;
		}
		button {
			margin-bottom: 18px;
		}
		.paragraph {
			font-size: 12px;
			line-height: 1.5;
		}
		.option {
			font-size: 13px;
			line-height: 19px;
			color: #111;
		}
	}
}
